/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/09/05, 16:27:34
    Author     : yuduru
*/

@media screen and (max-width:640px){
    
body
{
    padding-top: 80px;
    text-align: center;
}

img
{
    max-width: 100%;
    height: auto;
}

.maincopy
{
    max-width: 100%;
}

.topcircleimage
{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px #333 solid;
    margin-top: 20px;
}

#footer
{
    padding-bottom: 20px;
}

#poweredby
{
    display: none;
}

}
